{% extends "TaskMan/wrapper.html" %}

{% block content %}
    <div class="container wrap-contact100"
         style="width: auto; background-color:white; padding:20px; border-radius:10px;">
        <div class="container wrap-contact100"
             style="width: auto; background-color:white; padding:10px;margin-bottom:10px;">
            <div class="row" style="border-bottom:1px solid grey;">
                <div class="col-md-4">
                    <p>Title</p>
                </div>
                <div class="col-md-7"><p>Informations</p></div>
                <div class="col-md-4"><p>Status</p></div>

            </div>
        </div>
        {% for export in exports %}
            <div class="row" >
                <div class="col-md-4">
                    <p>{{ export.user.username }}</p>
                </div>

                <div class="col-md-7">
                    <p>{{ export.exp_info }}</p>
                </div>

                {% if export.csv is not None %}
                    <div class="col-md-4">
                        <a href="{% url 'export_file' 'csv'  export.csv %}"> TaskList.csv </a>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <a href="{% url 'export_file' 'excel'  export.excel %}"> TaskList.excel </a>
                    </div>
                {% endif %}


            </div>
        {% endfor %}
    </div>
{% endblock %}