{% extends "TaskMan/wrapper.html" %}

{% block content %}
    <div class="container wrap-contact100">
				<span class="contact100-form-title"
                      style="display: flex;justify-content: center;margin-bottom: 20px;font-size: 30px;  color: white;">
					Register
				</span>

            {%if user.is_authenticated%}
                <span class="contact100-form-title"
                          style="display: flex;justify-content: center;margin-bottom: 20px;font-size: 30px;  color: white;">
                        {{user.username}}
                    </span>
                <div class="container-contact100-form-btn">
                    <a href="logout">
                        <button class="contact100-form-btn m-r-10">
                            <span style="display: flex;justify-content: center; color: white;">
                                <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                Log out
                            </span>
                        </button>
                    </a>
                    <a href="list">
                        <button class="contact100-form-btn m-l-10">
                            <span style="display: flex;justify-content: center; color: white;">
                                <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                Task List
                            </span>
                        </button>
                    </a>
                </div>
            {%else%}
                <div class="container-contact100-form-btn">
                    <a href="register">
                        <button class="contact100-form-btn">
                            <span style="display: flex;justify-content: center; color: white;">
                                <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                Register
                            </span>
                        </button>
                    </a>
                </div>

                <div class="container-contact100-form-btn">
                    <a href="login">
                        <button class="contact100-form-btn">
                            <span style="display: flex;justify-content: center; color: white;">
                                <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                Log in
                            </span>
                        </button>
                    </a>
                </div>
            {%endif%}
    </div>

{% endblock %}