<!DOCTYPE html>
<html>
    <head>
        <title>Register page</title>
    </head>
    <body>
        <div style="margin: auto; width: 200px; margin-top: 200px; bacground: #ebebeb; padding: 20px 10px; text-align: center;">
            <form action="" method="post">
                {% csrf_token %}
                <label>Log in</label>
                {{ form.login }}
                {{ form.passw }}

                {% if alert == True %}
                <p>Eroare</p>
                {% endif %}

                <input type="submit" name="send" value="Log in" style="margin-top: 20px;">
            </form>
        </div>
    </body>
</html>