{% extends 'TaskMan/wrapper.html' %}

{% block content %}

    <center  class="container wrap-contact100"
         style="width: auto; background-color:white; padding:20px; border-radius:10px;">
            <h2 style="text-transform:uppercase; padding-bottom: 20px; color:black;">Notification List</h2>

            <div style="margin-bottom:20px;">
                <a style="color:black; font-size:20px; padding-left:10px; padding-right:10px;" href="/TaskManager/list">All
                    tasks</a>
                <a style="color:black; font-size:20px; padding-left:10px; padding-right:10px;"
                href="/TaskManager/mytasks">My tascks</a>
                <a style="color:black; font-size:20px; padding-left:10px; padding-right:10px;"
                href="/TaskManager/completed_tasks">Completed tasks</a>
                <a style="color:black; font-size:20px; padding-left:10px; padding-right:10px;"
                href="/TaskManager/mynotifi">My notifications {{ count_notes }}</a>
            </div>

            {% for noti in notes %}
                    {% if noti.seen == True %}
                        <div class="containers" style="width: auto; background-color:white; padding:10px;margin-bottom:10px; border-radius:10px; border:1px solid black;">
                            <a href="/TaskManager/task/{{noti.task.title}}" >{{ noti.info }}</a>
                        </div>
                    {% else %}
                        <div class="containers" style="width: auto; background-color: #d2ffb3; padding:10px;margin-bottom:10px; border-radius:10px; border:1px solid black;">
                            <a href="/TaskManager/task/{{noti.task.title}}" style="font-weight: normal; font-size: 15px; background: #d2ffb3">{{ noti.info }}</a>
                        </div>
                    {% endif %}
            {% endfor %}

            <button><a href="/TaskManager/list">Return to list</a></button>
        </center>

{% endblock %}

