<!DOCTYPE html>
<html>
<body>
<center>
    <a href="/TaskManager/list">All tasks</a>
    <a href="/TaskManager/mytasks">My tascks</a>
    <a href="/TaskManager/completed_tasks">Completed tasks</a>
    <a href="/TaskManager/mynotifi">My notifications</a>
    <h2>Notification List</h2>

    {% for noti in notes %}
            {% if noti.seen == True %}
                <h1 style="color: #b0b0b0">{{ noti.info }}</h1>
            {% else %}
                <h1 style="color: #000">{{ noti.info }}</h1>
            {% endif %}
    {% endfor %}

    <button><a href="/TaskManager/list">Return to list</a></button>
</center>
</body>
</html>
