{% extends "TaskMan/wrapper.html" %}

{% block content %}
    <div class="container wrap-contact100"
         style="width: auto; background-color:white; padding:20px; border-radius:30px;webkit-box-shadow: 0px 0px 49px -2px rgba(0,0,0,0.56);
        -moz-box-shadow: 0px 0px 49px -2px rgba(0,0,0,0.56);
        box-shadow: 0px 0px 49px -2px rgba(0,0,0,0.56);">
        <center><h2 style="text-transform:uppercase; padding-bottom: 20px; color:black;">New task for {{ name }}</h2>
        </center>
        <center>
            <form class="contact100-form validate-form" style="display: grid;justify-content: center;" action=""
                  method="post">
                {% csrf_token %}

                <form class="contact100-form validate-form" style="display: grid;justify-content: center;" action=""
                      method="post">
                    {% csrf_token %}
                    <div class="wrap-input100 validate-input" data-validate="Please enter title"
                         style="padding:5px;padding-left:15px;padding-right:15px;">
                        <input class="input100" type="text" name="title1" placeholder="Title"
                               style="border:1px solid black;"/>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Please enter title"
                         style="padding:5px;padding-left:15px;padding-right:15px;">
                        <textarea class="input100" cols="35" rows="8" name="description1"
                                  placeholder="Introduceti textul"
                                  style="border:1px solid black; border-radius:30px;padding:20px;"></textarea>
                        <span class="focus-input100"></span>
                    </div>


                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn" type="submit" name="post" value="Post">
						<span style="display: flex;justify-content: center; color: white;">
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Create
						</span>
                        </button>
                    </div>

                </form>
            </form>
        </center>
    </div>
{% endblock %}