{% extends "TaskMan/wrapper.html" %}
{% load static %}
{% block content %}
    <div class="container wrap-contact100"
         style="width: auto; background-color:white; padding:20px; border-radius:10px;">
        <center>
            <h2 style="text-transform:uppercase; padding-bottom: 20px; color:black;"><a
                    href="/TaskManager/list">◄ Go back</a></h2>
            <h2 style="text-transform:uppercase; padding-bottom: 20px; color:black;">Projects</h2>

        </center>

        <center>


            {% for post in project %}
                <div class="container wrap-contact100"
                     style="width: auto; background-color:white; padding:10px;margin-bottom:10px; border-radius:10px; border:1px solid black;">
                    <div class="row">
                        <a href="/TaskManager/projects/{{ post.id }}">
                            <div class="col-md-12"><img src="{{ post.photo.url }}" alt="" class=""
                                                       style="width: 100%; float: left; margin-right: 10px;"></div>
                            <div class="col-md-6"><p>{{ post.name }}<br><br>{{ post.description }}</p></div>
                        </a>
                            <div class="col">
                                {% if post.status == "in_process" %}
                                    <a href="{% url 'complete_project' post.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512"
                                             style="enable-background:new 0 0 512 512;width: 15px;"
                                             xml:space="preserve">
                                            <path d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z"></path>
                                        </svg>
                                    </a>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" height="512pt" viewBox="0 0 512 512"
                                         width="512pt"
                                         style="width: 17px;height: 17px;">
                                        <path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0"
                                              fill="#2196f3"></path>
                                        <path d="m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0"
                                              fill="#fafafa"></path>
                                    </svg>
                                {% endif %}
                            </div>
                    </div>

                </div>
            {% endfor %}
            <a style="color:white;" href="{% url 'newproject' %}">
                <button class="contact100-form-btn">Create project</button>
            </a>
        </center>
    </div>
    <a style="color:white;" href="/TaskManager/statistics">
        <button class="contact100-form-btn">Statistics</button>
    </a>
{% endblock %}