{% extends "TaskMan/wrapper.html" %}
{% load static %}

{% block content %}
        <div class="container wrap-contact100"
             style="width: auto; background-color:white; padding:20px; border-radius:10px;">
            <center>
                <center><h2 style="text-transform:uppercase; padding-bottom: 20px; color:black;"><a
                        href="/TaskManager/projects/{{ pro.id }}">◄ Go back</a></h2></center>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="like">
                        {% if is_liked == True %}
                            <img src="{% static 'images/heart.svg' %}" height="20px">
                        {% else %}
                            <img src="{% static 'images/heart (1).svg' %}" height="20px">
                        {% endif %}
                    </button>
                </form>
                <center>
                    <div class="container wrap-contact100"
                         style="width: auto; background-color:white; padding:10px;margin-bottom:10px;">
                        <p>Titlu:</p>
                        <h2>{{ az.title }}</h2><br/>
                        <p>Descrierea:</p>
                        <h3>{{ az.description }}</h3><br/>
                        <p>Starea:</p>
                        <h4>{{ az.status }}</h4><br>
                        {% if status != 'closed' %}
                            <form action="" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="start_stop">
                                    {% if az.is_started %}
                                        Stop
                                    {% else %}
                                        Start
                                    {% endif %}
                                </button>
                            </form>
                        {% endif %}

                        <div class="row" style="border-bottom:1px solid grey;">
                        </div>
                    </div>
                </center>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for post in pc %}
                    <div class="container">
                        <div class="row" style="margin-right: 0px;margin-left: 0px;">
                            <div style="display: flex;justify-content: center;">
                                {{ post.text }}
                            </div>
                        </div>
                        <div style="display: flex;justify-content: flex-end;">
                            <p>{{ post.author }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p>No comments here yet :(</p>
                    {% endfor %}
                    <div class="container wrap-contact100"
                         style="width: auto; background-color:white; padding:10px;margin-bottom:10px; border-radius:10px; border:1px solid black;">
                        {% if user.is_authenticated %}
                        <div class="row">
                            <div class="col-md-4">
                                <button class="contact100-form-btn" type="submit" name="Complete">Complete</button>
                            </div>
                            <div class="col-md-4">
                                <a class="contact100-form-btn" href='projects/{{ pro.id }}/{{ pptask.title }}/newprojectsubtask'>
                                    Subtask
                                </a>
                            </div>
                            <div class="col-md-4">
                                <button class="contact100-form-btn" type="submit" name="Delete">Delete</button>
                            </div>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Please enter title"
                             style="padding:5px;padding-left:15px;padding-right:15px;">
                            <textarea cols="35" rows="8" name="description" placeholder="Comment here"
                                      style="border:1px solid black; border-radius:30px;padding:20px;"></textarea>
                            <span class="focus-input100"></span>
                        </div>
                        <button class="contact100-form-btn" type="submit" name="post">Post</button>

                        {% else %}
                        <h2>Not Logged in</h2>
                        {% endif %}
                    </div>
                </form>
            </center>
        </div>
        <div class="container wrap-contact100"
             style="width: auto; background-color:white; padding:20px; border-radius:10px;">
            <center><h2 style="text-transform:uppercase; padding-bottom: 20px; color:black;">Time sprc</h2>
            </center>
            <center>
                <div class="container wrap-contact100"
                     style="width: auto; background-color:white; padding:10px;margin-bottom:10px;">
                    <p>Numarul de intrari:</p>
                    <h2>{{ time_logs.count }}</h2><br/>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="date" name="date_input">
                        <button type="submit" name="find_date">Find date</button>
                    </form>
                    <p>Durata totala : {{ total_duration.duration }}</p>
                    <p>Detalii:</p>
                    {% for log in time_logs %}
                    <p>{{ log.time_begin }} -> {{ log.time_end }}</p>
                    {% endfor %}
                    <div class="row" style="border-bottom:1px solid grey;">
                    </div>
                </div>
            </center>
        </div>
{% endblock %}