<!DOCTYPE html>
<html>
    <head>
        <title>Register page</title>
    </head>
    <body>
        <div>
            <form action="" method="post">
                <label>Register</label>
                {{ form.name }}
                {{ form.pren }}
                {{ form.login }}
                {{ form.passw }}

                {% if alert == True %}
                <p>Eroare</p>
                {% endif %}

                <input type="submit" name="send" value="Create cont" style="margin-top: 20px;">
            </form>
        </div>
    </body>
</html>