{% extends "TaskMan/wrapper.html" %}

{% block content %}
		<div class="container wrap-contact100">
			<form class="contact100-form validate-form" style="display: grid;justify-content: center; " action="" method="post">
				<span class="contact100-form-title" style="display: flex;justify-content: center;margin-bottom: 20px;font-size: 30px;  color: white;">
					Register
				</span>

                {% csrf_token %}

                <div class="wrap-input100"  style="padding:5px;padding-left:15px;padding-right:15px;">
                    <p class="input100" style="height:50px;">{{ form.first_name }}</p>
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 "  style="padding:5px;padding-left:15px;padding-right:15px;">
                    <p class="input100" style="height:50px;">{{ form.last_name }}</p>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100" style="padding:5px;">
                    <p class="input100" style="height:50px;">{{ form.username }}</p>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100" style="padding:5px;">
					<p class="input100" style="height:50px;">{{ form.password }}</p>
					<span class="focus-input100"></span>
				</div>

				<div style="color: #fff">
					{% if alert is not None %}
						{{ alert }}
					{% endif %}
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit" name="send" value="Create cont">
						<span style="display: flex;justify-content: center; color: white;">
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Register
						</span>
					</button>
				</div>
			</form>
		</div>
{% endblock %}