<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Home page</title>
</head>
<body>
{% if user.is_authenticated %}
{% csrf_token %}
<h1>{{ task.title }}</h1>
<p>{{ task.description }}</p>

{% for post in comentariu %}
<ul>
    <li>
        <p style="color:red;">{{ post.text }}</p>
        <p>{{ post.author }}</p>
    </li>
</ul>
{% endfor %}
<form action="actions" method="POST">
<input type="submit" href="/TaskManager/task/{{ task.title }}/complete_task/" name="Complete" value="Complete"></input>
</br>
<input type="submit" href="/TaskManager/task/{{ task.title }}/delete_task/" name="Delete" value="Delete"></input>
</form>
{% else %}
<h2>Nu sunteti conectat</h2>
{% endif %}
</body>
</html>